@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&display=swap");
/* body {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    scroll-behavior: smooth;
} */

/* Apply scrollbar styles to the entire page */
html, body {
  scroll-behavior: smooth;
}


.navbar_h1{
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.nav_links {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.button_links {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.home_text {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.count_font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.label_font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.features_h1 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.features_para {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.features_cards {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.pricing_h1 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.pricing_p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.pricing_cards_font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.price_font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.overview_h1 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.overview_p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.contact_h1 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.contact_p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.contact_form_h1 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.footer_font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.register_btn {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.register_h1 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.register_p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.login_btn {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.login_h1 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.login_p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.profile_h1 {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.profile_p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* For Firefox */
html, body {
  scrollbar-width: thin;
  scrollbar-color: #333333 #1C1C1C;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1C1C1C;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #333333 #1C1C1C;
}


/* Dashboard custom css  */
.open_sans_font{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.open_sans_font_700{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.oxanium_font{
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}